# Ignore secret key used for encryption
secret.key

# Ignore the projects folder where user-generated projects are stored
projects/

# Python related ignores
__pycache__/
*.pyc
*.pyo
*.egg-info/

# Virtual environment
venv/
*.venv/
env/

# IDE-specific (e.g., for VSCode and PyCharm)
.vscode/
.idea/
.DS_STORE